A tuple is similar to list.

The diffence between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed.

# tuple creation

In [4]:
# empty tuple

t = ()

# tuple having integers

t = (1, 2, 3)
print(t)

# tuple with mixed data types

t = (1, "bhanu", 52.0, "prakash")

print(t)

# nested tuples

t = (1,(1, 2, 3),[1, "bhanu", 52.0, "prakash"],'a')
print(t)

(1, 2, 3)
(1, 'bhanu', 52.0, 'prakash')
(1, (1, 2, 3), [1, 'bhanu', 52.0, 'prakash'], 'a')

In [6]:
# only pranthesis is not enough for tuples

t = ('bhanu')

type(t)

str

In [13]:
# for tuples we need end with comma at the end and pranthesis is optional for tuples 

t = ('bhanu' ,)

type(t)             # and  it shows tuple

# or

t = 'bhanu' ,

print(type(t))

<class 'tuple'>

# accessing elements in tuple

In [16]:
t = ('bhanu', 'prakash', 'leena', 'budutha', 'amma', 'daddy')

print(t[1:-1])

('prakash', 'leena', 'budutha', 'amma')

In [23]:
# nested tuple

t = ('bhanu' ,('prakash', 'leena', 'budutha', 'amma', 'daddy'))

print(t[-2])

print(t[1][-1])           # (t[x][y]) x = tuple address , y = nested tuple address

bhanu
daddy

# Changing the tuple

Unlike lists,tuples are immutable

This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [4]:
# creating tuple

t = (1, 2, 3, 7,[4, 5, 6])

t[2] = 'x'              # tuples will not change and it shows type error

TypeError: 'tuple' object does not support item assignment

In [5]:
t[4][1] = 'bhanu'
print(t)

(1, 2, 3, 7, [4, 'bhanu', 6])

# tuple deletion

In [3]:
# we cannot change the elements in a tuple. 

# That also means we cannot delete or remove items from a tuple.

# we can delete whole tuple by using del keyword

t = (1, 2, 3, 7, 4, 5, 6)

del t

# tuple count

In [4]:
t = (1, 2, 3, 3, 7, 5, 5, 2,  6, 1)

t.count(2)

2

In [9]:
t = (1, 2, 3, 3, 7, 5, 5, 2,  6, 1)

print(t.index(6))

8

# Tuple membership

In [10]:
# if an item exists in a tuple are not by using keyword "in"

t = (1, 2, 3, 3, 7, 5, 5, 2,  6, 1)

print(6 in t)

True

In [2]:
t = (1, 2, 3, 3, 7, 5, 5, 2,  6, 1)

print(8 in t)

False

# Built in functions

In [15]:
t = (1, 2, 3, 3, 7, 5, 5, 2,  6, 1)

new_t = sorted(t)

print(new_t)

[1, 1, 2, 2, 3, 3, 5, 5, 6, 7]

In [17]:
print("Reverse sorted  numbers:",sorted(new_t,reverse = True))

Reverse sorted  numbers: [7, 6, 5, 5, 3, 3, 2, 2, 1, 1]

In [23]:
# get largest element in tuple

t = (1, 2, 3, 3, 7, 5, 5, 2,  6, 1)

print(max(t))

print(min(t))

print(sum(t))

7
1
35

In [2]:

t = (1,{56,6,5,68}, 2, 3, 3, 7, 5, 5, 2,  6, 1)
print(t)

(1, {56, 68, 5, 6}, 2, 3, 3, 7, 5, 5, 2, 6, 1)